RewriteEngine On

 

# Handle Authorization Header

RewriteCond %{HTTP:Authorization} .

RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

 

# Redirect Trailing Slashes If Not A Folder...

RewriteCond %{REQUEST_FILENAME} !-d

RewriteCond %{REQUEST_URI} (.+)/$

RewriteRule ^ %1 [L,R=301]

 

# Handle Front Controller...

RewriteCond %{REQUEST_URI} !(\.css|\.js|\.png|\.jpg|\.gif|robots\.txt)$ [NC]

RewriteCond %{REQUEST_FILENAME} !-d 

RewriteCond %{REQUEST_FILENAME} !-f 

RewriteRule ^(.*) index.php [L]

# Redirect from subdirectories

RewriteRule ^database http://kentldolar/ [R=301,L]
RewriteRule ^app http://kentldolar/ [R=301,L]
RewriteRule ^bootstrap http://kentldolar/ [R=301,L]
RewriteRule ^config http://kentldolar/ [R=301,L]
RewriteRule ^routes http://kentldolar/ [R=301,L]
RewriteRule ^storage http://kentldolar/ [R=301,L]
RewriteRule ^tests http://kentldolar/ [R=301,L]
RewriteRule ^vendor http://kentldolar/ [R=301,L]
RewriteRule ^resources http://kentldolar/ [R=301,L]

# not sure if the '/' after '^' should be there, so remove if not working

ErrorDocument 403 http://kentldolar/
ErrorDocument 404 http://kentldolar/
ErrorDocument 500 http://kentldolar/

Redirect 301 http://kentldolar/public/download/ http://kentldolar/